<div id="<%= dom_id movie %>">
  <p>
    <strong>Tittle:</strong>
    <%= movie.tittle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

</div>
